<%= form_with(model: constructorresult, local: true) do |form| %>
  <% if constructorresult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(constructorresult.errors.count, "error") %> prohibited this constructorresult from being saved:</h2>

      <ul>
      <% constructorresult.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :race_id %>
    <%= form.number_field :race_id, id: :constructorresult_race_id %>
  </div>

  <div class="field">
    <%= form.label :constructor_id %>
    <%= form.number_field :constructor_id, id: :constructorresult_constructor_id %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.text_field :points, id: :constructorresult_points %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
