<p id="notice"><%= notice %></p>

<p>
  <strong>Race:</strong>
  <%= @constructorresult.race_id %>
</p>

<p>
  <strong>Constructor:</strong>
  <%= @constructorresult.constructor_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @constructorresult.points %>
</p>

<%= link_to 'Edit', edit_constructorresult_path(@constructorresult) %> |
<%= link_to 'Back', constructorresults_path %>
