<p id="notice"><%= notice %></p>

<p>
  <strong>Race:</strong>
  <%= @result.race_id %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @result.driver_id %>
</p>

<p>
  <strong>Constructor:</strong>
  <%= @result.constructor_id %>
</p>

<p>
  <strong>Grid:</strong>
  <%= @result.grid %>
</p>

<p>
  <strong>Position:</strong>
  <%= @result.position %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @result.rank %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
