<% provide(:title, "Column Charts") %>
<h2>Column Chart Form</h2>
<%= form_tag("charts/drivers_points", method: "post") do %>
  <%= label_tag(:year, "Select Year:") %>
  <%= select_tag(:year, options_for_select({"2017" => "2017", "2016" => "2016", "2015" => "2015", "2014" => "2014",
    "2013" => "2013", "2012" => "2012"}), :prompt => "Select year") %>
  <%= submit_tag("Display Chart") %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>
