<% provide(:title, "Line Charts") %>
<h1>Line Charts</h1>
<center>
<%= form_tag("/charts/drivers_rank", method: "post") do %>
  <%= label_tag(:driver, "Select first driver:") %>
  <%= collection_select(:driver_first, :driver_id, Driver.all, :id, :surname, :prompt => true) %>
  <%= label_tag(:driver, "Select second driver:") %>
  <%= collection_select(:driver_second, :driver_id, Driver.all, :id, :surname, :prompt => true) %>
  <%= label_tag(:year, "Select year:") %>
  <%= select_tag(:year_line_chart, options_for_select({"2017" => "2017", "2016" => "2016", "2015" => "2015", "2014" => "2014",
    "2013" => "2013", "2012" => "2012"}), :prompt => "Select year") %>
  <%= submit_tag("Display Chart") %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>
</center>