<% provide(:title, "Pie Charts") %>
<h1>Pie Chart Form</h1>
<%= form_tag("/charts/wins_pie_chart", method: "post") do %>
  <%= label_tag(:driver, "Select driver:") %>
  <%= collection_select(:driver, :driver_id, Driver.all, :id, :surname, :prompt => true) %>
  <%= label_tag(:year, "Select year:") %>
  <%= select_tag(:year, options_for_select({"2017" => "2017", "2016" => "2016", "2015" => "2015", "2014" => "2014",
    "2013" => "2013", "2012" => "2012", "2011" => "2011"}), :prompt => "Please select year") %>
  <%= submit_tag("Display Chart") %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>