<%= form_tag("wins_pie_chart", method: "get") do %>
  <%= label_tag(:driver, "Choose driver:") %>
  <%= collection_select(:driver, :driver_id, Driver.all, :id, @driver_fullname, :prompt => true) %>
  <%= label_tag(:second, "Choose year:") %>
  <%= collection_select(:race, :race_id, @years, :id, :year, :prompt => true) %>
  <%= submit_tag("Draw chart") %>
<% end %>



<!--
Bootstrap form commented

<form class="form-horizontal" action="/action_page.php">
  <div class="form-group">
    <label class="control-label col-sm-2" for="driver">Driver:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="driver" placeholder="Enter the driver">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Year:</label>
    <div class="col-sm-10"> 
      <input type="password" class="form-control" id="year" placeholder="Enter the year">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
-->