<%= form_with(model: constructor, local: true) do |form| %>
  <% if constructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(constructor.errors.count, "error") %> prohibited this constructor from being saved:</h2>

      <ul>
      <% constructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :constructor_name %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality, id: :constructor_nationality %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
