<p id="notice"><%= notice %></p>

<h1>Constructors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nationality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constructors.each do |constructor| %>
      <tr>
        <td><%= constructor.name %></td>
        <td><%= constructor.nationality %></td>
        <td><%= link_to 'Show', constructor %></td>
        <td><%= link_to 'Edit', edit_constructor_path(constructor) %></td>
        <td><%= link_to 'Destroy', constructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constructor', new_constructor_path %>
