<!DOCTYPE html>
<html>
  <head>
       <title><%= yield(:title) %> | Formula One Statistics </title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class="navbar navbar-fixed-top navbar-inverse">
  		<a class="navbar-brand">Formula One Statistics</a> <!-- FIX THIS AS LOGO -->
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   home_path %></li>
            <li><%= link_to "About",  about_path %></li>
            <li><%= link_to "Twitter Feed",   '#' %></li>
            <li><%= link_to "Charts",   '#' %></li> <!-- NEED TO MAKE THIS DROPDOWN! -->
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
    	<%= yield %>
	</div>
  </body>
</html>